@font-face { font-family: Stardew; src: url('./fonts/StardewValley.ttf'); }


/* Window */
html,
body {
    /* Size */
    width: 100%;
    height: 100%;

    /* Spacing */
    margin: 0;
    padding: 0;

    /* Layout */
    position: relative;
    overflow: hidden;

    /* Visuals */
    border: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    /* Text */
    font-family: Stardew;
    color: #551215;
    font-size: 19px;
    user-select: none;

    --scale: 1;
}

body[hide] {
    display: none;
}

body[cursor="none"] {
    cursor: none;
}


  /*$$$$$
 /$$__  $$
| $$  \__/  /$$$$$$  /$$$$$$/$$$$   /$$$$$$
| $$ /$$$$ |____  $$| $$_  $$_  $$ /$$__  $$
| $$|_  $$  /$$$$$$$| $$ \ $$ \ $$| $$$$$$$$
| $$  \ $$ /$$__  $$| $$ | $$ | $$| $$_____/
|  $$$$$$/|  $$$$$$$| $$ | $$ | $$|  $$$$$$$
 \______/  \_______/|__/ |__/ |__/ \______*/

/* Background */
#background,
#background[background="grass"] {
    /* Size */
    width: calc(100% / var(--scale));
    height: calc(100% / var(--scale));

    /* Visuals */
    background-repeat: repeat;
    background: url(./sprites/backgrounds/grass.png);

    /* Other */
    transform-origin: 0% 0%;
    transform: scale(var(--scale));
    pointer-events: none;
}

#background[background="sand"] {
    background: url(./sprites/backgrounds/sand.png);
}

#background[background="dirt"] {
    background: url(./sprites/backgrounds/dirt.png);
}

#background[background="snow"] {
    background: url(./sprites/backgrounds/snow.png);
}

/* Ball */
#ball {
    --size: 9px;
    --position-x: 0px;
    --position-y: 0px;

    /* Width */
    width: var(--size);
    height: var(--size);

    /* Layout */
    position: absolute;
    left: var(--position-x);
    top: calc(var(--position-y));

    /* Visuals */
    background-image: url(./sprites/emotes/emotes.png);
    background-position-x: calc(-3 * var(--size));
    background-position-y: calc(-9 * var(--size));
    transform: translateX(calc(-0.5 * var(--size))) translateY(calc(-0.5 * var(--size)));

    /* Other */
    pointer-events: none;
    opacity: 0;
}

#ball[visible] {
    animation-name: bounce;
    animation-duration: 0.5s;
    opacity: 1;
}

@keyframes bounce {
    0% {
        top: calc(var(--position-y) - 0px);
    }
    20% {
        top: calc(var(--position-y) - 10px);
    }
    40% {
        top: calc(var(--position-y) - 0px);
    }
    60% {
        top: calc(var(--position-y) - 5px);
    }
    80% {
        top: calc(var(--position-y) - 0px);
    }
    90% {
        top: calc(var(--position-y) - 2px);
    }
    100% {
        top: calc(var(--position-y) - 0px);
    }
}

/* Game canvas */
#canvas {
    /* Layout */
    position: absolute;
    top: 0;
    bottom: 0;

    /* Other */
    transform-origin: 0% 0%;
}

/* Hidden canvas */
#hiddenCanvas {
    /* Layout */
    display: none;
}


 /*$      /$$
| $$$    /$$$
| $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$$$$$$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$
| $$ $$/$$ $$ /$$__  $$ /$$_____//$$_____/ |____  $$ /$$__  $$ /$$__  $$ /$$_____/
| $$  $$$| $$| $$$$$$$$|  $$$$$$|  $$$$$$   /$$$$$$$| $$  \ $$| $$$$$$$$|  $$$$$$
| $$\  $ | $$| $$_____/ \____  $$\____  $$ /$$__  $$| $$  | $$| $$_____/ \____  $$
| $$ \/  | $$|  $$$$$$$ /$$$$$$$//$$$$$$$/|  $$$$$$$|  $$$$$$$|  $$$$$$$ /$$$$$$$/
|__/     |__/ \_______/|_______/|_______/  \_______/ \____  $$ \_______/|_______/
                                                     /$$  \ $$
                                                    |  $$$$$$/
                                                     \_____*/

#messages {
    /* Size */
    width: 100%;
    height: 100%;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;

    /* Other */
    pointer-events: none;
}

.message {
    /* Layout */
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;

    /* Text */
    --border: #551215bd;
    color: #ffd889;
    text-shadow: -2px -2px 5px var(--border), 2px -2px 5px var(--border), -2px 2px 5px var(--border), 2px 2px 5px var(--border);

    /* Other */
    animation: message 2s ease-out;
    pointer-events: none;
}

@keyframes message {
    0% {
        top: 25px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    to {
        top: 5px;
        opacity: 0;
    }
}


 /*$      /$$
| $$$    /$$$
| $$$$  /$$$$  /$$$$$$  /$$$$$$$  /$$   /$$  /$$$$$$$
| $$ $$/$$ $$ /$$__  $$| $$__  $$| $$  | $$ /$$_____/
| $$  $$$| $$| $$$$$$$$| $$  \ $$| $$  | $$|  $$$$$$
| $$\  $ | $$| $$_____/| $$  | $$| $$  | $$ \____  $$
| $$ \/  | $$|  $$$$$$$| $$  | $$|  $$$$$$/ /$$$$$$$/
|__/     |__/ \_______/|__/  |__/ \______/ |______*/

#menus {
    /* Size */
    width: 100%;
    height: 100%;

    /* Spacing */
    padding: 20px;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    /* Decoration */
    background-color: rgba(0, 0, 0, 0.25);
}

#menus[show] {
    /* Layout */
    display: flex;
}

.menu {
    /* Layout */
    display: none;
    flex-direction: column;
    gap: 5px;
    
    /* Decoration */
    border: 20px solid transparent;
    border-image-source: url('sprites/ui/menu.png');
    border-image-slice: 20 fill;
    border-image-repeat: stretch;
}

.menu[show] {
    /* Layout */
    display: flex;
}

.menuContent {
    /* Spacing */
    margin: -4px;

    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menuButton {
    /* Spacing */
    padding: 5px;

    /* Layout */
    display: flex;
    align-items: center;
    gap: 5px;

    /* Visuals */
    border-radius: 5px;

    /* Other */
    cursor: pointer;
    transition: background-color .1s;
}

.menuButton:hover {
    /* Visuals */
    background-color: #55121530;
}

.menuButton > img {
    /* Height */
    width: 20px;
    height: 20px;

    /* Visuals */
    border-radius: 5px;
}

/* Money menu */
#money {
    /* Layout */
    position: absolute;
    top: 0;
    right: 0;
}

#money > span {
    /* Spacing */
    margin: -8px -4px;
}


  /*$$$$$
 /$$__  $$
| $$  \__/ /$$   /$$  /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$
| $$      | $$  | $$ /$$__  $$ /$$_____/ /$$__  $$ /$$__  $$
| $$      | $$  | $$| $$  \__/|  $$$$$$ | $$  \ $$| $$  \__/
| $$    $$| $$  | $$| $$       \____  $$| $$  | $$| $$
|  $$$$$$/|  $$$$$$/| $$       /$$$$$$$/|  $$$$$$/| $$
 \______/  \______/ |__/      |_______/  \______/ |_*/

#cursor {
    --size: 9px;
    --bg-pos-x: 0;
    --bg-pos-y: 0;

    width: var(--size);
    height: var(--size);

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(./sprites/emotes/emotes.png);
    background-position-x: var(--bg-pos-x);
    background-position-y: var(--bg-pos-y);

    transform: scale(var(--scale)) translateX(calc(-0.25 * var(--size))) translateY(calc(-0.25 * var(--size)));

    pointer-events: none;
    opacity: 0;
}

#cursor[icon="gift"] {
    --bg-pos-x: calc(-12 * var(--size));
    --bg-pos-y: calc(-10 * var(--size));
    opacity: 1;
}

#cursor[icon="ball"] {
    --bg-pos-x: calc(-3 * var(--size));
    --bg-pos-y: calc(-9 * var(--size));
    opacity: 1;
}