/* HTML */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    image-rendering: pixelated;

    --scale: 1;
}


/* Pets parent element (also the background) */
#pets,
#pets[background="grass"] {
    width: calc(100% / var(--scale));
    height: calc(100% / var(--scale));
    position: absolute;
    top: 0;
    bottom: 0;
    transform-origin: 0% 0%;

    transform: scale(var(--scale));
    background-repeat: repeat;
    background: url(./backgrounds/grass.png);
}

#pets[background="sand"] {
    background: url(./backgrounds/sand.png);
}

#pets[background="dirt"] {
    background: url(./backgrounds/dirt.png);
}


/* Cursor (gift & ball) */
#cursor {
    --size: 9px;
    --bg-pos-x: 0;
    --bg-pos-y: 0;

    width: var(--size);
    height: var(--size);

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(./emotes/emotes.png);
    background-position-x: var(--bg-pos-x);
    background-position-y: var(--bg-pos-y);

    transform: scale(var(--scale)) translateX(calc(-0.25 * var(--size))) translateY(calc(-0.25 * var(--size)));

    pointer-events: none;
    opacity: 0;
}

#cursor[type="gift"] {
    --bg-pos-x: calc(-12 * var(--size));
    --bg-pos-y: calc(-10 * var(--size));
    opacity: 1;
}

#cursor[type="ball"] {
    --bg-pos-x: calc(-3 * var(--size));
    --bg-pos-y: calc(-9 * var(--size));
    opacity: 1;
}

#ball {
    --size: 9px;
    --position-x: 0px;
    --position-y: 0px;

    width: var(--size);
    height: var(--size);

    position: absolute;
    left: var(--position-x);
    top: calc(var(--position-y));

    background-image: url(./emotes/emotes.png);
    background-position-x: calc(-3 * var(--size));
    background-position-y: calc(-9 * var(--size));

    transform: translateX(calc(-0.5 * var(--size))) translateY(calc(-0.5 * var(--size)));

    pointer-events: none;
    opacity: 0;
}

#ball[visible] {
    animation-name: bounce;
    animation-duration: 0.5s;
    opacity: 1;
}

@keyframes bounce {
    0% {
        top: calc(var(--position-y) - 0px);
    }

    20% {
        top: calc(var(--position-y) - 10px);
    }

    40% {
        top: calc(var(--position-y) - 0px);
    }

    60% {
        top: calc(var(--position-y) - 5px);
    }

    80% {
        top: calc(var(--position-y) - 0px);
    }

    90% {
        top: calc(var(--position-y) - 2px);
    }

    100% {
        top: calc(var(--position-y) - 0px);
    }
}


/* Base class for pets */
.pet {
    --size: 32px;
    width: var(--size);
    height: var(--size);

    position: absolute;
    --position-x: 0px;
    --position-y: 0px;
    left: var(--position-x);
    top: var(--position-y);

    --image: url(./animals/cat/black.png);
    background-image: var(--image);
    --offset-x: 0px;
    --offset-y: 0px;
    background-position-x: var(--offset-x);
    background-position-y: var(--offset-y);

    --emoteSize: 9px;
    --emoteElevation: 0px;
    --emote-x: 0px;
    --emote-y: 0px;
}

.pet[flip] {
    transform: scale(-1, 1);
}


/* Pet moods */
.pet::after {
    content: '';

    width: var(--emoteSize);
    height: var(--emoteSize);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(./emotes/emotes.png);
    background-position-x: var(--emote-x);
    background-position-y: var(--emote-y);

    --translation-x: calc((var(--size) - var(--emoteSize)) / 2);
    --translation-y: calc(-1 * var(--emoteSize) - var(--emoteElevation));
    transform: translateX(var(--translation-x)) translateY(var(--translation-y));
    transform-origin: center;

    pointer-events: none;
    opacity: 0;
}

.pet[flip]::after {
    transform: translateX(var(--translation-x)) translateY(var(--translation-y)) scale(-1, 1);
}

.pet[mood]::after {
    opacity: 1;
}

.pet[mood="heart"] {
    --emote-x: calc(-1 * var(--emoteSize));
    --emote-y: calc(-3 * var(--emoteSize));
}

.pet[mood="gigachad"] {
    --emote-x: calc(-11 * var(--emoteSize));
    --emote-y: calc(-1 * var(--emoteSize));
}

.pet[mood="happy"] {
    --emote-x: calc(-0 * var(--emoteSize));
    --emote-y: calc(-0 * var(--emoteSize));
}

.pet[mood="mad"] {
    --emote-x: calc(-2 * var(--emoteSize));
    --emote-y: calc(-1 * var(--emoteSize));
}

.pet[mood="alien"] {
    --emote-x: calc(-1 * var(--emoteSize));
    --emote-y: calc(-2 * var(--emoteSize));
}

.pet[mood="pledge"] {
    --emote-x: calc(-8 * var(--emoteSize));
    --emote-y: calc(-1 * var(--emoteSize));
}

.pet[mood="blush"] {
    --emote-x: calc(-8 * var(--emoteSize));
    --emote-y: calc(-0 * var(--emoteSize));
}


/* Cats */
.cat,
.cat[color="black"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -9px;
    --image: url(./animals/cat/black.png);
}

.cat[color="orange"] {
    --image: url(./animals/cat/orange.png);
}

.cat[color="gray"] {
    --image: url(./animals/cat/gray.png);
}

.cat[color="purple"] {
    --image: url(./animals/cat/purple.png);
}

.cat[color="white"] {
    --image: url(./animals/cat/white.png);
}

.cat[color="yellow"] {
    --image: url(./animals/cat/yellow.png);
}


/* Dogs */
.dog,
.dog[color="blonde"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -5px;
    --image: url(./animals/dog/blonde.png);
}

.dog[color="brown"] {
    --image: url(./animals/dog/brown.png);
}

.dog[color="dark brown"] {
    --image: url(./animals/dog/dark-brown.png);
}

.dog[color="gray"] {
    --image: url(./animals/dog/gray.png);
}

.dog[color="light brown"] {
    --image: url(./animals/dog/light-brown.png);
}

.dog[color="purple"] {
    --image: url(./animals/dog/purple.png);
}


/* Dino */
.dino {
    --size: 16px;
    --size: 16px;
    --emoteElevation: 2px;
    --image: url(./animals/dino/dino.png);
}


/* Duck */
.duck {
    --size: 16px;
    --size: 16px;
    --emoteElevation: 2px;
    --image: url(./animals/duck/duck.png);
}


/* Raccoon */
.raccoon {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -2px;
    --image: url(./animals/raccoon/raccoon.png);
}


/* Turtle */
.turtle,
.turtle[color="green"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -10px;
    --image: url(./animals/turtle/green.png);
}

.turtle[color="purple"] {
    --image: url(./animals/turtle/purple.png);
}


/* Goat */
.goat,
.goat[color="adult"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -2px;
    --image: url(./animals/goat/adult.png);
}

.goat[color="baby"] {
    --emoteElevation: -6px;
    --image: url(./animals/goat/baby.png);
}


/* Sheep */
.sheep,
.sheep[color="adult"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -3px;
    --image: url(./animals/sheep/adult.png);
}

.sheep[color="baby"] {
    --emoteElevation: -6px;
    --image: url(./animals/sheep/baby.png);
}


/* Ostrich */
.ostrich,
.ostrich[color="adult"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: 3px;
    --image: url(./animals/ostrich/adult.png);
}

.ostrich[color="baby"] {
    --emoteElevation: -10px;
    --image: url(./animals/ostrich/baby.png);
}


/* Pig */
.pig,
.pig[color="adult"] {
    --size: 32px;
    --size: 32px;
    --image: url(./animals/pig/adult.png);
}

.pig[color="baby"] {
    --emoteElevation: -3px;
    --image: url(./animals/pig/baby.png);
}


/* Rabbit */
.rabbit,
.rabbit[color="adult"] {
    --size: 16px;
    --size: 16px;
    --emoteElevation: 2px;
    --image: url(./animals/rabbit/adult.png);
}

.rabbit[color="baby"] {
    --emoteElevation: 0px;
    --image: url(./animals/rabbit/baby.png);
}


/* Chicken */
.chicken,
.chicken[color="white adult"] {
    --size: 16px;
    --size: 16px;
    --emoteElevation: 2px;
    --image: url(./animals/chicken/white.png);
}

.chicken[color="black adult"] {
    --image: url(./animals/chicken/black.png);
}

.chicken[color="blue adult"] {
    --image: url(./animals/chicken/blue.png);
}

.chicken[color="brown adult"] {
    --image: url(./animals/chicken/brown.png);
}

.chicken[color*="baby"] {
    --emoteElevation: -4px;
}

.chicken[color="white baby"] {
    --image: url(./animals/chicken/baby-white.png);
}

.chicken[color="black baby"] {
    --image: url(./animals/chicken/baby-black.png);
}

.chicken[color="blue baby"] {
    --image: url(./animals/chicken/baby-blue.png);
}

.chicken[color="brown baby"] {
    --image: url(./animals/chicken/baby-brown.png);
}


/* Cow */
.cow,
.cow[color="white adult"] {
    --size: 32px;
    --size: 32px;
    --emoteElevation: -4px;
    --image: url(./animals/cow/white.png);
}

.cow[color="brown adult"] {
    --image: url(./animals/cow/brown.png);
}

.cow[color*="baby"] {
    --emoteElevation: -6px;
}

.cow[color="white baby"] {
    --image: url(./animals/cow/baby-white.png);
}

.cow[color="brown baby"] {
    --image: url(./animals/cow/baby-brown.png);
}


/* Junimo - filters: brightness(0) + https://isotropic.co/tool/hex-color-to-css-filter/ */
.junimo,
.junimo[color="white"] {
    --size: 16px;
    --size: 16px;
    --emoteElevation: 1px;
    --image: url(./animals/junimo/junimo.png);
}

.junimo:before,
.junimo[color="white"]:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: var(--image);
    background-position-x: var(--offset-x);
    background-position-y: var(--offset-y);

    filter: brightness(0) invert(100%);
    mix-blend-mode: multiply;
}

.junimo[color="black"]:before {
    filter: brightness(0) invert(16%) sepia(8%) saturate(173%) hue-rotate(97deg) brightness(93%) contrast(86%);
}

.junimo[color="gray"]:before {
    filter: brightness(0) invert(59%) sepia(4%) saturate(323%) hue-rotate(182deg) brightness(89%) contrast(88%);
}

.junimo[color="pink"]:before {
    filter: brightness(0) invert(88%) sepia(58%) saturate(6754%) hue-rotate(256deg) brightness(103%) contrast(106%);
}

.junimo[color="red"]:before {
    filter: brightness(0) invert(9%) sepia(100%) saturate(7382%) hue-rotate(358deg) brightness(90%) contrast(103%);
}

.junimo[color="orange"]:before {
    filter: brightness(0) invert(45%) sepia(83%) saturate(954%) hue-rotate(360deg) brightness(106%) contrast(102%);
}

.junimo[color="yellow"]:before {
    filter: brightness(0) invert(92%) sepia(55%) saturate(5413%) hue-rotate(342deg) brightness(105%) contrast(101%);
}

.junimo[color="green"]:before {
    filter: brightness(0) invert(63%) sepia(41%) saturate(5613%) hue-rotate(82deg) brightness(120%) contrast(122%);
}

.junimo[color="cyan"]:before {
    filter: brightness(0) invert(84%) sepia(98%) saturate(1528%) hue-rotate(109deg) brightness(103%) contrast(97%);
}

.junimo[color="purple"]:before {
    filter: brightness(0) invert(13%) sepia(100%) saturate(5495%) hue-rotate(280deg) brightness(86%) contrast(111%);
}

.junimo[color="brown"]:before {
    filter: brightness(0) invert(33%) sepia(93%) saturate(772%) hue-rotate(358deg) brightness(97%) contrast(99%);
}